/* .box{
        display:flex;
        background-color:grey;
        padding-bottom:100px;
        padding-left: 100px;
        border-color: greenyellow;
        border-width:1px;
        border-style : solid ;
        width: 100px;
        height:100px; */
    .box{
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        background-color: lightgray;
        cursor: pointer;
        border: 2px solid black;
    }
    .box:hover {
        background-color: lightgreen;
    }
}
.box:hover {
    background-color: green ;
    border-color:red;
}
.bigbox{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
}


.board{
    display:grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3,100px);
    gap: 4px
}
.something{
    text-align: center;
}
.reset{
    margin-top:50px
}
.xwins{
    font-size:2em;
}
/* .Goose {
    margin-left:50px;
    width: 200px;
    height: 200px;
    margin-right:40px
}

.goose {
    width: 250px;
    height: 250px;
} */
 